.product {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background: white;
  z-index: 1;
}
.product__rating {
  display: flex;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > a button {
  background-color: #ff6600;
  color: white;
  border-radius: 20px;
  width: 258px;
  height: 40px;
  cursor: pointer;
}
.product__price {
  margin-top: 5px;
}
.product__info {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  margin-bottom: 15px;
}
.product__info .product__image {
  flex: 20%;
  padding: 20px;
}
.product__info .product__image > img {
  width: 416px;
  height: 416px;
}
.product__info .box {
  flex: 40%;
  padding: 20px;
}
.box .row__badges {
  justify-content: space-around;
  margin-bottom: 10px;
}
.box .row__badges .ready__to__ship {
  background-image: linear-gradient(270deg, #f5515f 0%, #ff7527 100%);
  border-radius: 2px 0 0 2px;
  border-color: transparent;
  width: 90px;
  height: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.box .row__badges .in__stock {
  color: #ff6600;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: #fff0e6;
  width: 75px;
  height: 20px;
  border-color: transparent;
}
.box .row__badges .fast__dispatch {
  color: #ff6600;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  background-color: #fff0e6;
  border-radius: 0 2px 2px 0;
  width: 106px;
  height: 20px;
  border-color: transparent;
}
.box .row__title {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.box .row__title .tags {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  background-color: #edf0f3;
  border-radius: 2px;
  width: 111px;
  height: 20px;
  margin: 10px;
}
.box .row__rating {
  display: flex;
  color: #ff6600;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
.box .row__rating .reviews {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin-left: 15px;
}
.box .row__rating .buyers {
  color: #333333;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin-left: 30px;
}
.box .row__options {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.box .row__options .min__max__price {
  color: #ff6600;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}
.box .row__options .min__max__price span{
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.box .row__options1 .op__min__order {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  margin-left: 10px;
}
.box .row__options span {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.box .row__promo {
  display: flex;
  margin-right: 10px;
  color: #ff6600;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  background-color: #fff0e6;
  height: 40px;
}
.box .row__promo img {
  width: 76px;
  height: 40px;
}
.free-shipping-up {
  color: #ff6600;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}
.on-time-delivery-g {
  color: #ff6600;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.box .row__discount {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.box .row__discount .discount__value {
  color: #ff6600;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  
}
.box .row__discount .discount-ends-in {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}
.box .row__discount .timer {
  color: #999999;
  font-family: Roboto;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  margin-top: 10px;
  font-style: italic;
  margin-left: 20px;
}
.box .row__products:after {
  content: "";
  display: grid;
  clear: both;
}
.box .row__products .col1 {
  float: left;
  width: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  width: 112px;
  text-align: left;
}
.box .row__products .col2 {
  float: left;
  width: 10%;
  padding: 10px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  width: 174px;
  text-align: left;
}
.box .row__products .col3 {
  float: left;
  width: 20%;
  padding: 10px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.box .row__products .col4 {
  float: left;
  width: 40%;
  padding: 10px;
}
.col4 span {
  color: #ff6600;
  padding: 0 10px;
  height: 30px;
}
.col4 .count {
  width: 20px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.row__trade-assurance {
  display: flex;
  margin-right: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.trade-assurance {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  font-weight: 1000;
}
.protects-your-alibab {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  margin-left: 5px;
}

.row__payments {
  display: flex;
  margin-right: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.row__payments img {
  margin-left: 5px;
}
.payments {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
.row__links {
  display: flex;
  margin-right: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.alibaba-com-logistic {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
}
.inspection-solutions {
  color: #999999;
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  margin-left: 5px;
}
.product__info .addtobox {
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  width: 306px;
  height: 280px;
}
.addtobox .subtotal {
  color: #333333;
  font-family: Roboto;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
}
.addtobox .ship-to {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.addtobox .ship-to span {
  text-decoration: underline;
}
.addtobox .lead-time {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-top: 10px;
}
.addtobox .shipping-time {
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin-top: 10px;
}
.buttons {
  text-align: center;
}
.addtobox .button__1 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  width: 210px;
  text-align: center;
  background-color: #ff6600;
  border-radius: 20px;
  border-color: transparent;
  width: 258px;
  height: 40px;
  margin-top: 30px;
  text-align: center;
}
.addtobox .button__2 {
  font-family: Roboto;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ff6600;
  color: #ff6600;
  border-radius: 20px;
  width: 258px;
  height: 40px;
  margin-top: 20px;
  align-content: center;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
  .on-time-delivery-g {
    display: none;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  * {
    align-items: center;
  }
  .product > img {
    max-height: 360px;
    width: 360px;
    margin-bottom: 15px;
  }
  .row {
    flex-direction: column;
  }
  .on-time-delivery-g {
    display: none;
  }
  .product__info .addtobox {
    margin-left: 30px;
    margin-right: 30px;
  }
}
